body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden; /* Prevent scrollbars on the main view */
}

#root {
  width: 100vw;
  height: 100vh;
}
